.project{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin: 0 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 50, 0.3), 0 6px 7px rgba(0, 0, 50, 0.4);
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0, 0, 4, 0.75);
    color: #FFF;
    flex-direction: column;
    display: flex; justify-content: center; 
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
    padding-right: 50%;
}

.caption img{
    width: 60px;
    border: none;
    border-radius: 50%;
    outline: none;
}

.project-left:hover .caption{
    opacity: 1;
    padding-right: 0;
}

.project p{
    text-align: left;
    color: #fff;
    font-size: 14px;
}

.project-left{
    flex-basis: 47%;
    position: relative;
    border-radius: 10px;
    height: 90%;
}

.project-right{
    position: relative;
    flex-basis: 44%;
}

.project.slide-hidden {
  display: none;
}


.slide-in-left {
    animation: slideInLeft 0.5s forwards;
  }
  
.slide-in-right {
    animation: slideInRight 0.5s forwards;
  }

@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }




