.projects-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #171b2c;
    overflow: hidden;
}

.projects{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    padding: 40px;
    transition: "transform ease-out 0.3s",
}

.projects-section p{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}

.arrow {
    position: absolute;
    filter: drop-shadow(0px 0px 5px #555);
    width: 45px;
    height: 45px;
    padding: 15px;
    background: #5AB2FF;
    border-radius: 50%;

  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .arrow-left {
    left: -1rem;
  }
  
  .arrow-right {
    right: -1rem;
  }

  .indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
  }
  
  .indicator {
    background-color: #5AB2FF;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #00021c;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  .indicator-inactive {
    background-color: rgb(255, 255, 255);
  }