.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    background: #171b2c;
    padding: 20px;
    color: #fff;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.displayBlock  ul li {
    display: block;
    
}



.social-icons > *{
    margin-bottom: 10px;
}
.social-icons img{
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    background: transparent;
}

.social-icons p{
    margin-top: 20px;
    margin-left: 20px;
}